src/**
tests/**
**/*.map
tsconfig.json
tsconfig.tsbuildinfo
node_modules/**
coverage/**
.turbo/**
.cache/**
**/backup/**
**/*.log
**/fixtures/**
.vscode-test/**
.vscode/**
.eslintrc*
.prettierrc*
.gitignore
.gitattributes
.editorconfig
**/__pycache__/**
**/*.pyc
.DS_Store
Thumbs.db
*.vsix
scripts/**
